@page
@model IndexModel
@{
    ViewData["Title"] = "SOME WEB PAGE";
}

<div class="row">
    <div class="col-md-3">
        <h2>Kalkulajdy</h2>
        <ul>
            <li><a href="Calculator/Avarage">Vypocet prumeru</a></li>
        </ul>
    </div>
</div>
